*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.trangdemo{
	width: 100vw;
	height: 60px;
	line-height: 60px;
	background-color: grey;
	position: fixed;
	z-index: 30;
}
.trangdemo_container{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.trangdemo_container-logo{
	width: 33%;
}
.trangdemo_container-logo h1{
	font-family: arial;
	font-size: 30px;
	cursor: pointer;
	animation: doimau 2s infinite;
}
@keyframes doimau{
	0%{
		color: yellow;
	}
	30%{
		color: red;
	}
	80%{
		color: orange;
	}
}
.trangdemo_container-input{
	width: 33%;
}
.trangdemo_container-input1{
	width: 100%;
	height: 50px;
	position: relative;
}
.trangdemo_container-inputs input{
	width: 100%;
	height: 50px;
	position: absolute;
	border: none;
	outline: none;
	padding: 0 20px;
	background-color: transparent;
	border-bottom: 2px solid black;
	color: white;
	font-weight: 600;
	font-size: 18px;
	position: relative;
}
.autobox{
	position: absolute;
	width: 100%;
	background: white;
	background-color: rgba(221, 221, 221, 0.5);
	top: 100%;
	overflow-y: auto;
}
.autobox li{
	list-style: none;
	padding: 6px 0 6px 36px;
	cursor: pointer;
	transition: 0.5s ease;
	display: none;
}
.autobox li:hover{
	color: violet;
}
.autobox.active li{
	display: block;
}
.trangdemo_container-btn{
	position: absolute;
	z-index: 2;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}
.trangdemo_container-btn button{
	border: none;
	outline: none;
	background-color: blue;
	font-size: 16px;
	width: 100px;
	height: 35px;
	color: white;
	border-radius: 10px;
	cursor: pointer;
}
.trangdemo_container-items{
	width: 33%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.trangdemo_container-item1{
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: flex-end;
}
.trangdemo_container-item-con{
	display: flex;
}
.trangdemo_container-item-img{
	width: 50px;
	height: 50px;
	position: relative;
}
.trangdemo_container-item-img::before{
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	background: url("anh2.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 50%;
}
.trangdemo_container-item-nd h1{
	height: 50px;
	line-height: 50px;
	font-family: arial;
	font-size: 22px;
	cursor: pointer;
	color: white;
}
.trangdemo_container_item-cons{
	width: 50px;
	height: auto;
	margin: 0 10px;
	position: relative;
}
.trangdemo_container_item-cons::before{
	content: "";
	position: absolute;
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: black;
	cursor: pointer;
}
/*------------------------------code phần chính-----------------*/
.trangdemo_section{
	width: 100vw;
	height: 100vh;
	padding-top: 60px;
}
.trangdemo_section-row{
	width: 2300px;
	height: auto;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
/*-------------------------------------------code phần menu trái----------------------------*/
.trangdemo_section-row1{
	width: 30%;
}
.trangdemo_section-even{
	width: 100%;
	height: auto;
	padding: 20px 20px;
	position: fixed;
}
.trangdemo_section-item{
	width: 100%;
	display: flex;
	height: 80px;
}
.trangdemo_section-item:nth-child(9){
	border-bottom: 1px solid black;
	width: 300px;
	margin-bottom: 20px;
}
.trangdemo_section-item-img{
	margin-right: 10px;
	width: 50px;
	height: 50px;
	background: url("anh.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 50%;
}
.trangdemo_section-item-nd{
	margin: 10px 0;
}
.trangdemo_section-item-nd h1{
	font-family: arial;
	font-size: 26px;
	cursor: pointer;
	transition: 0.5s ease;
}
.trangdemo_section-item-nd h1:hover{
	padding-left: 12px;
	color: red;
}
.trangdemo_section-item-nd p{
	font-family: arial;
	font-size: 15px;
	font-weight: 500;
	color: blue;
	position: relative;
	margin-left: 20px;
}
.trangdemo_section-item-nd p::before{
	content: "";
	display: block;
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: blue;
	border-radius: 50%;
	left: -15px;
	top: 50%;
	transform: translateY(-50%);
}
.trangdemo_section-loitat1{
	margin: 30px 0;
}
.trangdemo_section-loitat1 h1{
	font-family: arial;
	font-size: 30px;
	color: grey;
}

/*------------------------------------------code phần giữa----------------------------*/

.trangdemo_section-row2{
	width: 40%;
	z-index: 10;
}
.trangdemo_section-row2s{
	width: 100%;
	height: auto;
}
.trangdemo_section-img{
	width: 100%;
	height: auto;
	padding: 20px 0;
}

.trangdemo_section-imgs{
	width: 100%;
	height: auto;
	display: flex;
	margin-bottom: 20px;
}

.trangdemo_section-img-con{
	width: 19%;
	height: auto;
	margin: 0 5px;
	border-radius: 10px;
	overflow: hidden;
}
.trangdemo_section-img-con1{
	width: 100%;
	height: 200px;
	background: url("anh2.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 10px;
	position: relative;
	cursor: pointer;
	transition: 0.5s ease;
}
.trangdemo_section-img-con1::after{
	content: "";
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: url("anh.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border: 5px solid blue;
	top: 10px;
	left: 10px;
}
.trangdemo_section-img-con1:hover{
	transform: scale(1.1);
}
.trangdemo_section-img-con1::before{
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	display: none;
}
.trangdemo_section-img-con1:hover::before{
	display: block;
}
.trangdemo_section-img-nd{
	width: 100%;
	height: auto;
	position: absolute;
	bottom: 15px;
	left: 65%;
	transform: translateX(-50%);
	z-index: 90;
}
.trangdemo_section-img-nd h1{
	color: white;
	font-family: arial;
	cursor: pointer;
	font-size: 20px;
}
.nds{
	position: absolute;
	width: 100%;
	height: 70px;
	background: rgba(0, 0, 0, 0.5);
	bottom: 0;
	border-top: 3px solid white;
}
.ndss{
	position: absolute;
	width: 30px;
	height: 30px;
	background: blue;
	border-radius: 50%;
	bottom: 53px;
	left: 50%;
	transform: translateX(-50%);
}
.ndss::before{
	content: "";
	display: block;
	position: absolute;
	width: 12px;
	height: 3px;
	background: white;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.ndss::after{
	content: "";
	position: absolute;
	display: block;
	width: 12px;
	height: 2px;
	background: white;
	top: 48%;
	left: 33%;
	transform: translate(-50%,50%);
	transform: rotate(90deg);
}
.trangdemo_section-search{
	width: 100%;
	height: 150px;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.trangdemo_section-searchs{
	width: 90%;
	height: auto;
	/*margin: 20px 0;*/
}
.trangdemo_section-search-input{
	width: 780px;
	height: 50px;
	display: flex;
	position: relative;
	border-bottom: 1px solid black;
}
.trangdemo_section-search-input-text input{
	width: 780px;
	height: 35px;
	outline: none;
	border-radius: 20px;
	border: 1px solid black;
	padding: 0 15px;
	margin-left: 50px;
}
.trangdemo_section-search-input-img{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: url("anh2.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	left: 0px;
}
.trangdemo_section-seach-live{
	width: 100%;
	height: auto;
}
.trangdemo_section-seach-lives{
	width: 90%;
	height: 50px;
	display: flex;
	justify-content: space-around;
	margin-top: 10px;
}
.trangdemo_section-seach-live-con{
	width: 33%;
	height: 50px;
	text-align: center;
	/*display: flex;
	justify-content: center;
	align-items: center;*/
	position: relative;
}
.trangdemo_section-seach-live-con::before{
	content: "";
	display: block;
	position: absolute;
	width: 30px;
	height: 30px;
	background: url("anh.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 50%;
	top: 50%;
	left: 25px;
	transform: translateY(-50%);
	z-index: 99;
}
.trangdemo_section-seach-live-con:last-child::before{
	left: 0;
}
.trangdemo_section-seach-live-con:nth-child(2)::before{
	left: 40px;
}
.trangdemo_section-seach-live-con-nd h1{
	font-size: 20px;
	font-family: arial;
	cursor: pointer;
	line-height: 50px;
}
.trangdemo_section-online{
	width: 100%;
	height: auto;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 20px;
}

.trangdemo_section-onlines{
	width: 90%;
	height: 70px;
	justify-content: center;
	align-items: center;
	display: flex;
	margin-top: 20px;
}
.trangdemo_section-online-thechua{
	width: 60%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 60px;
}
.trangdemo_section-online-img{
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: url(anh2.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin: 0 5px;
	position: relative;
}
.trangdemo_section-online-img::before{
	content: "";
	position: absolute;
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: green;
	bottom: 2px;
	right: 3px;
}
.trangdemo_section-online-nds{
	width: 35%;
	height: 50px;
	border: 1px solid black;
	text-align: center;
	border-radius: 20px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}
.trangdemo_section-online-nds h1{
	font-family: arial;
	font-size: 25px;
	cursor: pointer;
	animation: mauchu 2s infinite;
}
@keyframes mauchu{
	0%{
		color: black;
	}
	30%{
		color: red;
	}
	50%{
		color: yellow;
	}
	80%{
		color: green;
	}
}
/*---------------------------------------------code phần bản tin---------------------------------------*/
.trangdemo_section-bantin{
	width: 100%;
	height: auto;
	margin-top: 20px;
}
.trangdemo_section-bantins{
	width: 100%;
	height: 800px;
	border-radius: 30px;
	padding: 20px 0;
	box-shadow: 0px 0px 15px black;
}
.trangdemo_section-bantinss{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
}
.trangdemo_section-thongtin{
	width: 100%;
	height: auto;
	display: flex;
}
.trangdemo_section-thongtin-img{
	width: 50px;
	height: 50px;
	background: url("anh2.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 50%;
	margin: 0 10px;
}
/*--------------------------------------------code phần status trong bản tin--------------------------*/
.trangdemo_section-status{
	width: 100%;
	height: auto;
	margin-top: 40px;
	margin-left: 10px;
	margin-bottom: 10px;
}
.trangdemo_section-status-nd p{
	font-size: 26px;
	font-weight: 500;
	font-family: arial;
	cursor: pointer;
}
.trangdemo_section-imgss-nd p{
	font-family: arial;
	color: grey;
	font-weight: 500;
	margin: 20px 10px;
}
/*---------------------------------------------code phần ảnh bản tin----------------------------------*/
.trangdemo_section-imgss{
	width: 100%;
	height: 500px;
	position: relative;
}
.trangdemo_section-imgss-con::before{
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	background: url("anh2.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 10px;
}
/*----------------------------------------------code phần Like, Cmt, Share-----------------------------*/
.trangdemo_Section-like{
	width: 100%;
	height: auto;
}
.trangdemo_section-likes{
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	position: relative;
}
.trangdemo_section-likes::before{
	content: "";
	position: absolute;
	display: block;
	width: 80%;
	height: 100%;
	border-top: 1px solid black;
	left: 50%;
	transform: translateX(-50%);
	z-index: -1;
}
.trangdemo_section-likes-lcs{
	width: 33%;
	height: 60px;
	text-align: center;
}
.trangdemo_section-like-lcs1{
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.trangdemo_section-like-lcs1-nd{
	border-right: 1px solid black;
	width: 100%;
}
.trangdemo_section-like-lcs1-nd h1{
	font-size: 20px;
	font-family: arial;
	cursor: pointer;
}
.trangdemo_section-like-lcs1-nds{
	border-right: 1px solid black;
	width: 100%;
}
.trangdemo_section-like-lcs1-nds h1{
	font-size: 20px;
	font-family: arial;
	cursor: pointer;
	color: black;
}
/*---------------------------------------------code phần quảng cáo bên phải----------------------------*/
.trangdemo_section-row3{
	width: 30%;
	z-index: 10;
}
.trangdemo_section-quangcao{
	width: 100%;
	height: auto;
	padding: 20px 0;
}
.trangdemo_section-quangcao-img{
	width: 100%;
	height: auto;
}
.trangdemo_section-quangcao-imgss{
	width: 90%;
	height: 1000px;
	position: relative;
}
.trangdemo_section-quangcao-imgss::before{
	content: "";
	position: absolute;
	display: block;
	width: 500px;
	border-bottom: 2px solid black;
	bottom: 60px;
	right: 0;
}
.trangdemo_section-quangcao-loimoi{
	width: 100%;
	height: 100px;
	padding-left: 62px;
	margin-bottom: 65px;
	/*position: relative;*/
}
.trangdemo_section-quangcao-loimois{
	width: 90%;
	height: 120px;
	box-shadow: 0 0 10px grey;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	/*position: absolute;*/
}
.trangdemo_section-quangcao-loimoi-chua{
	width: 100%;
	height: auto;
	display: flex;
}
.trangdemo_section-quangcao-loimois-img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: url("anh2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-right: 10px;
}
.trangdemo_section-quangcao-loimois-nd h1{
	font-size: 20px;
	font-family: arial;
	cursor: pointer;
	height: 50px;
	line-height: 50px;
}
.trangdemo_section-quangcao-loimoi-ch{
	width: 100%;
	height: auto;
	display: flex;
	padding-left: 30px;
}
.trangdemo_section-quangcao-loimoi-a a{
	text-decoration: none;
	color: white;
	font-size: 16px;
	font-weight: 600;
	display: block;
	font-family: arial;
	margin: 5px 10px;
	width: 120px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	background: blue;
	border-radius: 20px;
	transition: 0.5s ease;
}
.trangdemo_section-quangcao-loimoi-a a:hover{
	background-color: red;
	transform: scale(1.1);
}
.trangdemo_section-quangcao-loimoi-a a:active{
	transform: scale(0.8);
}
.trangdemo_section-quangcao-loimoi-a:hover:last-child a{
	background: grey;
}
.trangdemo_section-quangcao-loimoi-a:last-child a{
	background: grey;
	color: white;
}
.trangdemo_section-quangcao-img1s{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: flex-end;
}
.trangdemo_section-quangcao-imgs{
	width: 90%;
	height: 350px;
	background: url("anh.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 20px;
	border-radius: 20px;
	animation: chayanh 1s infinite;
}
@keyframes chayanh{
	0%,100%{
		background: url("anh.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	30%{
		background: url(anh1.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
	50%{
		background: url("anh2.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	80%{
		background: url(anh1.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
}
.nd{
	margin-top: 200px;
	margin-left: 80px;
}
.nd h1{
	color: white;
	font-size: 20px;
	cursor: pointer;
	font-family: arial;
	animation: chaychu 0.5s infinite;
}
@keyframes chaychu{
	0%,100%{
		color: white;
	}
	30%{
		color: red;
	}
	50%{
		color: blue;
	}
	80%{
		color: yellow;
	}
}
.trangdemo_section-quangcao-online{
	width: 100%;
	height: auto;
}
.trangdemo_section-quangcao-onlines{
	width: 90%;
	height: auto;
	padding: 0 30px;
}
.trangdemo_section-quangcao-hoatdong{
	width: 90%;
	height: 50px;
	display: flex;
	margin-bottom: 30px;
}
.trangdemo_section-quangcao-hoatdong-img{
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: url("anh1.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-right: 10px;
	position: relative;
}
.trangdemo_section-quangcao-hoatdong-img::before{
	content: "";
	position: absolute;
	display: block;
	width: 8px;
	height: 8px;
	background: green;
	right: 3px;
	bottom: 2px;
	border-radius: 50%;
}
.trangdemo_section-quangcao-hoatdong-nd h1{
	font-family: arial;
	font-size: 22px;
	cursor: pointer;
	height: 35px;
	line-height: 35px;
	transition: 0.5s ease;
}
.trangdemo_section-quangcao-hoatdong-nd h1:hover{
	color: red;
	margin-top: -10px;
}