

:root{
    --black:#2c2c54;
    --blue:#87adfe;

}

*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62,5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;

}

section{
    padding: 2rem 9%;
}

header{
    position: fixed;
    top: 0;left: 0;right: 0;
    z-index: 1000;
    background: #fff;
    padding: 1.3rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 .5rem 1rem rgba(0,0, 0, .1),0 .5rem 1rem rgba(0,0, 0, .1),0 .5rem 1rem rgba(0,0, 0, .1);
}

header .logo{
    font-size:  1.5rem;
    color: var(--black);
    margin-left: 1rem;
}

header .navbar a{
    color: var(--black);
    margin: 10px;
    padding: 15px;
    border-radius: 9px;
}
header .navbar a:hover{
    color: var(--blue);
    background-color: rgb(228, 253, 253);
}
@keyframes click_me {
  0%,100%{
    transform: scale(1.06,1.06);
  }
  50%{
    transform: scale(1,1);
  }
}

header .icon a{
    font-size: 1.5rem;
    color: var(--black);
    margin: 0.1rem;
  }
header .icon a:hover{
  animation: click_me 0.4s infinite;
    color: var(--blue);
}
#menu-bar{
    font-size: 1rem;
    padding: .5rem 1.2rem ;
    border: 1px solid var(--black);
    color:var(--black);
    border-radius: .3rem;
    cursor: pointer;
    display: none;

}

/* slide start */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/* slide end  */
/* content game start  */
.content{
	max-width: 1250px;
	width: auto;
	margin:30px auto;
}

.right-content {
	width: 68%;
	float: left;
}
.right-content .section{
	background-color: white;
	margin-bottom: 20px;
	border-radius: 5px;
	padding: 20px;
  border: 2px solid var(--black);

}
.right-content .section img{
	display: block;
	float: left;
	margin-right: 20px;
	width: 200px;
}
.right-content .section:after{
	content: "";
	display: block;
	clear: both;
}
.right-content .content-section h3 a{
	color: var(--black);
	font-size: 24px;
}
.right-content .content-section h4{
	margin: 8px 0 12px 0;
}
.right-content .content-section p{
	line-height: 1.8em;
	text-align: justify;
	font-size: 10px;
	margin-bottom: 10px;
}
.right-content .content-section h4 a{
	color: var(--blue);
}
.right-content .readmore a{
	background-color: var(--blue);
	padding: 6px 15px;
	color: white; 
}
.left-content{
	width: 30%;
	float: right;
	background-color: white;
	padding: 20px;
  border: 2px solid var(--black);
  border-radius: 5px;
}
.left-content  h3{
	text-align: center;
	color: var(--blue);
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}
.left-content .item{
	border-bottom: 0.5px dotted #757575;
	padding: 5px 0;
}
.left-content .image-item{
	float: left;
}
.left-content .image-item img{
	width: 85px;
	height: 55px;
	margin-right: 15px;
}
.left-content .item:after{
	content: "";
	display: block;
	clear: both;
}
.left-content .item p a{
	color: #212121;
	font-size: 15px;
}
.left-content .item p a:hover{
	color: green;
	}

.content:after{
    content: "";
    display: block;
    clear: both;
  }
/* content game end  */

/* footer start */
.footer .box-container{
  border:.1rem solid rgba(0,0,0,.1);
  border-radius: .5rem;
  background:#f9f9f9;
  padding:30px;
  display: flex;
  flex-wrap: wrap;
  gap:.5rem;
}

.footer .box-container .box{
  flex:1 1 10rem;
}

.footer .box-container .box h3{
  color:var(--black);
  font-size: 2.5rem;
  padding-bottom: 1.5rem;
}

.footer .box-container .box a{
  color:#666;
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
  display: block;
}

.footer .box-container .box a:hover{
  color:var(--blue);
}

.footer .box-container .credit{
  text-align: center;
  width:100%;
  border-top: .1rem solid rgba(0,0,0,.1);
  font-size: 1.5rem;
  padding:1rem;
  padding-top: 2rem;
  color:#999;
}

.footer .box-container .credit span{
  color:var(--orange);
}



/* feedback--------------------------------------- */
.trangchu_feedback{
  width: 100%;
  height: 40px;
  /* background-color: red; */
  margin: 30px 0;
}
.box_feedback{
  width: 100%;
  height:380px;
  margin: 0 auto;
  background: #f9f9f9;
  border-radius: 15px;
  border: 2px solid rgb(218, 216, 216);
  overflow: hidden;
}
.feedback_navbar{
  width: 100%;
  height: 40px;
  background:#9b9797;
}
.feedback_navbar p{
  text-align: center;
  color: whitesmoke;
  padding: 5px;
}
.infor_feedback{
  width: 60%;
  margin: 0 auto;
  padding: 10px;
}
.ten_feedback{
  width: 100%;
}
.ten_feedback input{
  width: 70%;
  margin: 0 auto;
  display: block;
  margin-bottom:20px ;
  padding: 8px;
  border-radius: 9px;
  box-shadow: 0px 0px 10px #DDDDDD;
  border: none;
  outline: none;
}
.content_feedback{
  width: 100%;
  margin: 0 auto;
}
.content_feedback textarea{
  width: 70%;
  margin: 0 auto;
  display: block;
  padding: 7px;
  border-radius: 5px;
  border: none;
  outline: none;
}
.submit_feedback{
  width: 100%;
}
.submit_feedback input{
  width: 120px;
  padding: 7px;
  border-radius: 15px;
  margin: 0 auto;
  display: block;
  margin-top: 30px;
  background:rgb(187, 192, 192);
  color: white;
  font-size: 15px;
  font-weight: 600;
  box-shadow: 0 4px 10px gray;
}
.submit_feedback input:hover{
  animation: feedback 0.4s infinite;
}
@keyframes feedback {
  0%,100%{
    transform: scale(0.97,0.97);
  }
  50%{
    transform: scale(1);
  }
}




/* footer end */





@media (max-width:768px){

    #menu-bar{
      display: block;
    }
  
    header .navbar{
      position: absolute;
      top:100%; left:-120%;
      width:100%;
      background:#eee;
      border-top: .1rem solid rgba(0,0,0,.1);
    }
  
    header .navbar.active{
      left:0;
    }
  
    header .navbar a{
      font-size: 1rem;
      background:#fff;
      border:1px solid var(--black);
      border-radius: .5rem;
      padding:.5rem;
      margin:.5rem;
      display: block;
      text-align: center;
    }
  
    .slideshow-container .mySlides img {
      width:60%;
    } 
    .slideshow-container .mySlides img .text{
      width: 30px;

    }
  }
  
  @media (max-width:400px){
  
    html{
      font-size: 50%;
    }
  
    .slideshow-container .mySlides img {
      padding-bottom: 6rem;
    }
  
    .heading{
      font-size: 3rem;
    }
  
  }